.toDoTitle {
  background-color: #c56161;
  border-radius: 5px;
}

.DoingTitle {
  background-color: #e4b976;
  border-radius: 5px;
}

.DoneTitle {
  background-color: #99b983;
  border-radius: 5px;
}

.toDoBackGround {
  background-color: #f0c5c5;
  border-radius: 5px;
}

.doingBackGround {
  background-color: #f4c99a;
  border-radius: 5px;
}

.doneBackGround {
  background-color: #bedabc;
  border-radius: 5px;
}

.taskCardBlack {
  background-color: black;
  border-radius: 5px;
}
