.toDoTitle {
  background-color: #c56161;
  border-radius: 7px;
}

.doingTitle {
  background-color: #e4b976;
  border-radius: 7px;
}

.doneTitle {
  background-color: #99b983;
  border-radius: 7px;
}

.toDoBackGround {
  background-color: #f0c5c5;
  border-radius: 7px;
}

.doingBackGround {
  background-color: #f4c99a;
  border-radius: 7px;
}

.doneBackGround {
  background-color: #bedabc;
  border-radius: 7px;
}

.taskCardBlack {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 1px 1px;
  display: grid;
  justify-content: center;
}

.titleWithNumber {
  font-size: 20px;
  /*color: #fffdfa;*/
  color: #171717;
  font-weight: 600;
}

.titleMain {
  font-size: 30px;
  color: #fffdfa;
  font-weight: 800;
}

.taskCardTitle {
  font-size: 16px;
  font-weight: 500;
  color: #171717;
}

.col-5 span {
  font-weight: 500;
}

.taskCardGridL1 img {
  border-radius: 50%;
  border: 1px solid #171717;
}

.mainTitleBox {
  display: grid;
  grid-template-columns: 6fr 1fr;
  column-gap: 1vw;
  width: 100%;
  height: 7vh;
  margin-bottom: 7vh;
}

.addButton {
  display: grid;
  justify-content: center;
}

.taskCardGrid {
  padding: 0px 3%;
  padding-bottom: 2vh;
  margin-top: 4vh;
}

.taskCardGridL1 {
  display: grid;
  grid-template-columns: 5fr 1fr;
  width: 100%;
  padding-top: 5px;
  align-content: center;
  margin-bottom: 1vh;
}

.taskCardGridL1 #oneone {
  display: grid;
  width: 100%;
  align-content: center;
  align-self: center;
  align-items: center;
  height: 100%;
}

.taskCardGridL1 #oneone p {
  margin-bottom: 0;
}

.taskCardGridL1 #twotwo {
  display: grid;
  width: 100%;
  padding: 0 0 0 45%;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: end;
  height: 100%;
}

.taskCardGridL2 {
  padding-right: 2vw;
}

.taskCardGridL3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 1vw;
  justify-content: start;
  column-gap: 5%;
}

.dropdown button {
  background: none;
  border: none;
}

p a {
  color: white;
  text-decoration: none;
}
