:root{
    /*background color*/
    --bg_back: #25272C;
    --bg_front:#2A2D32;

    /*accent color 1, accent color 1 variation A*/
    --accent1A: #99B983;
    --accent1: #BEDABC;
    --accent2A: #E4B976;
    --accent2: #F4C99A;
    --accent3A: #C56161;
    --accent3: #F0C5C5;
    --accent4A: #86A8D4;
    --accent4: #bad1ef;

    /*font styling*/
    --font_color1: #ffffff;
    --font_color2: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body{
    background-color: var(--bg_back);
    display:grid;
    grid-template-areas:
    "head"
    "nav"
    "article";
    grid-template-columns: auto;
    row-gap: 5px;
    /* TODO: is the distance good enough?*/
    margin: 5px 5px;
    padding: 0.25vh 0.5vw;
}
header{
    grid-area:head;
    display:flex;
    align-items:end;
    padding: 0.25vh 0.5vw;
    background-color: var(--accent3A);
}
header h1{
    margin-left: 0.5vw;
    color:var(--font_color2)
    
}
header img{
    height:100px;
    width: 100px;
}

nav{
    grid-area:nav;
    display: flex;
    align-content:space-around;
    justify-content: space-around;
    background-color: var(--bg_front);
    padding: 5px 0px;
}
nav a{
    text-decoration: none;
    color: var(--font_color2)
    
}
nav span{
    display:flex;
    width:16vw;
    text-align: center;
    justify-content: center;
    background-color: var(--accent4);
    border-radius: 18px;
    margin:0px 3px 0px 3px;
}
article{
    grid-area: article;
    background-color: var(--bg_front);
    height:80vh;
    overflow: auto;
    padding:5px 5px;
    
}
h1{
    color:var(--font_color1);
}
p{
    color:var(--font_color1);
}
/*aside{
    grid-area:aside;
    background-color:lightskyblue;
}
footer{
    grid-area:foot;
    background-color:lightyellow;
}*/
#goToTopBtn{
    position:fixed;
    bottom: 30px;
    right:30px;
    width:50px;
    height:50px;
    text-align: center;
    text-justify: center;

    border-radius: 120px;
    background-color: var(--accent3);
    text-decoration: none;
    
}
#goToTopBtn img{
    position:relative;
    padding-top:0.75em;
}
#clickedMenu{
    background-color: var(--accent2A);
}


